#likod{
    background-image: url(pexels-photo-4101143.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

#confirmation{
    text-decoration: none;
    text-align: center;
}


               